.confirmModel {
    width: 400px;
    height: 200px;
    background-color: #f4f2e6;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-flow: column;
    padding: 15px;
}
.confirmText {
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.confirmText p {
    font-size: 20px;
    color: #a51a1a;
}
.confirmBtn {
    flex: auto;
    display: flex;
    justify-content: flex-end;
}
.confirmBtn button {
    width: 80px;
    margin: 0 10px;
    border: none;
    font-size: 20px;
    font-weight: bold;
    color: white;
}
.confirmBtn button:first-child {
    background-color: #a51a1a;
}
.confirmBtn button:last-child {
    background-color: #535151;
}
