.app {
    width: 600px;
    /* height: 300px; */
    background-color: #bfa;
    margin: 50px auto;
    text-align: center;
}

.app button {
    width: 100px;
    font-size: 50px;
    margin: 0 20px;
}
