@import '../../../base.module.scss';
.ConfirmOuter {
    z-index: 11;
}
.Confirm {
    width: 700rem;
    height: 300rem;
    background-color: white;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    position: absolute;
    border-radius: 40rem;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    align-items: center;
    p {
        font-size: 36rem;
    }
    button {
        border: 1px solid #ccc;
        width: 180rem;
        height: 60rem;
        border-radius: 40rem;
        font-size: 30rem;
    }
    .Ok {
        background-color: $color-button;
        margin-left: 40rem;
    }
}
