@import '../../base.module.scss';
.Cart {
    position: fixed;
    width: 700rem;
    height: 80rem;
    bottom: 30rem;
    left: 0;
    right: 0;
    margin: auto;
    background-color: $color-bar;
    border-radius: 40rem;
    display: flex;
    justify-content: space-between;
    z-index: 10;
}
.Icon {
    width: 80rem;
    position: absolute;
    bottom: -6rem;
    img {
        width: 100%;
    }
}
.TotalAmount {
    position: absolute;
    // width: 36rem;
    height: 36rem;
    padding: 0 12rem;
    background-color: red;
    border-radius: 50%;
    color: white;
    line-height: 36rem;
    font-weight: bold;
    font-size: 28rem;
    right: -10rem;
}
.Price,
.NoMeal {
    color: white;
    margin-left: 120rem;
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 36rem;
    &:before {
        content: '￥';
        font-size: 24rem;
        margin-top: 10rem;
    }
}
.NoMeal {
    color: #999;
}
.Button {
    border: none;
    background-color: $color-button;
    width: 180rem;
    border-radius: 40rem;
    font-size: 36rem;
}
.Disabled {
    background-color: #777;
    color: #ccc;
}
