.item {
    background-color: #fcbf49;
    display: flex;
    margin: 15px 0;
    padding: 10px;
}

.content {
    flex: 1;
    /* background-color: aqua; */
    text-align: center;
    font-weight: bold;
}

.desc {
    font-size: 16px;
    color: #194b49;
}

.time {
    color: #d62828;
}
